<section class="py-5"> 
    <h1 class="diplay-3">
        Thank you
        <p class="lead">Your Ebook should be emailed to you in 2 bussines days.</p>
    </h1>
    <a class="btn btn-outline-dark btn-lg" href="/">Go back.</a>
</section>